body{
	font-size: 16px;
	color: #fff;
	background-color: #fdcb6e; 
	font-family: 'Oxygen", sans-serif';
}
#header-nav{
	background-color:#b2bec3;
	border-radius: 0;
	
}
.navbar-brand {
	/*background: url('../images/restaurant-logo_large.png') no-repeat;*/
	width: 230px;
	height: 80px;
	margin: 0 15px 10px 15px;
	
	font-family: 'Bungee', cursive;
	font-weight: bold;
	
	font-size: 40px;
}
h1{
	color: black;
}
	
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black; 
	}
	.navbar-header button.navbar-toggle {
		clear: both;
		margin-top: -55px;
	}

	.titre{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 45px;
		text-align: center;
		font-weight: bold;
	}
	.jumbotron{
		
		margin: 20px 20px;
	}
	h2 {
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		color: black;
		font-size: 35px;
	}
	p{
		color: black;
		padding: 5px 20px 5px 20px;
	}
	hr {
		border-top: 1px solid black;
	}
	li{
		font-size: 20px;
		font-family: Arial, Helvetica, sans-serif;
	}
	
	@media (min-width: )